[Unit]
Description=Gunicorn server for SITENAME
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/xxx/sites/SITENAME/source
ExecStart=/home/xxx/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application
